body{

    background-image: url('/static/img/background.jpeg');

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    background-attachment: fixed;

}

.profile{

    padding-top: 20px;

}

.profile_x{

    padding-right: 0px;

    padding-left: 0px;

}

.profile_img{

    overflow: hidden;
    width: 150px;
    height: 150px;
    box-shadow: 0px 15px 30px rgba(123, 230, 221, 0.5);
    border-radius: 100px;
    position: relative;
    display: block;
    background-image: url('/static/img/tai.jpg');
    background-size: cover;
    background-repeat: no-repeat;


}

.profile_img:hover{

    background-image: url('/static/img/about.jpg');
    

}

/* ########################## */

.facebook_box{
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 50px;
    background-color:whitesmoke;    
    box-shadow: 0px 15px 20px black;
    position: relative;
    display: block;
    width: 30%;
    height: 80px;
    opacity: 0.7;
    cursor: pointer;

}

.facebook_img{

    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 25px 30px black;
    margin-left: 1px;
    border: 2px solid aqua;

}

.facebook_box:hover{

    opacity: 1;
    
    box-shadow: inset 400px 0 0 0 ;
    transform: scale(1.3);

}

.facebook_img img{

    width: 100%;

    height: 100%;

}

.facebook_word{

    margin-top: 0;

    display: block;

    position: relative;

}

.facebook_word span{

    font-size: 40px;

    color: rgb(31, 138, 226);

    text-transform: uppercase;

    text-shadow: 5px 20px 10px;

    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
}

/* ################################################################### */

@media (max-width:600px){

    .profile_img{

        width: 100px;
        height: 100px;
        cursor: pointer;
    
    }

    .facebook_box{
        width: 60%;
        height: 50px;
    
    }

    .facebook_img{

        overflow: hidden;
        width: 50px;
        height: 50px;
        box-shadow: 0px 15px 30px rgba(0,0,0,0.5);
        border-radius: 50px;
        position: relative;
        display: block;
    
    }

    .facebook_word span{

        font-size: 15px;
    
    }

    .facebook_word{

        margin-top: -40px;

        margin-left: 80px;
    
    }    

}

/* ################################################# */

@media (min-width:650px) and (max-width:900px){

   

    .facebook_box{
        width: 60%;
        height: 50px;
    
    }

    .facebook_img{

        overflow: hidden;
        width: 50px;
        height: 50px;
        box-shadow: 0px 15px 30px rgba(0,0,0,0.5);
        border-radius: 50px;
        position: relative;
        display: block;
    
    }

    .facebook_word span{

        font-size: 35px;
    
    }

    .facebook_word{


        margin-left: 50px;
    
    }
}

