<head>
    <title>My Social Media</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Bootraps Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/home.js"></script>
    


    <!-- Own Layout -->

    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="row justify-content-center">

        <div class="row profile">

            <div class="profile_x">

                <div class="profile_img">
    
                    <!-- <img src="/static/img/tai.jpg"> -->
    
                </div>
    
            </div>

        </div>

    </div>

    <br><div class="row justify-content-center">

        <div id="facebook" class="facebook_box">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-lg-2">

                    <div class="facebook_img">

                        <img src="/static/img/facebook.png">

                    </div>

                </div>

                <div class="col-md-10 col-sm-10 col-lg-10">

                    <div class="facebook_word">
                        
                        <span>FaceBook</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <br><div class="row justify-content-center">

        <div id="git" class="facebook_box">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-lg-2">

                    <div class="facebook_img">

                        <img src="/static/img/git.png">

                    </div>

                </div>

                <div class="col-md-10 col-sm-10 col-lg-10">

                    <div class="facebook_word">
                        
                        <span>github</span>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <br><div class="row justify-content-center">

        <div id="phone" class="facebook_box">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-lg-2">

                    <div class="facebook_img">

                        <img src="/static/img/phone.png">

                    </div>

                </div>

                <div class="col-md-10 col-sm-10 col-lg-10">

                    <div class="facebook_word">
                        
                        <span id = "phone_number">phone number</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <br><div class="row justify-content-center">

        <div id="About" class="facebook_box">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-lg-2">

                    <div class="facebook_img">

                        <img src="/static/img/heart.png">

                    </div>

                </div>

                <div class="col-md-10 col-sm-10 col-lg-10">

                    <div class="facebook_word">
                        
                        <span>About Me</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <br><div class="row justify-content-center">

        <div id="foxv_shop" class="facebook_box">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-lg-2">

                    <div class="facebook_img">

                        <img src="/static/img/logo_foxvboutique_full.png">

                    </div>

                </div>

                <div class="col-md-10 col-sm-10 col-lg-10">

                    <div class="facebook_word">
                        
                        <span>FoxV Shop</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <br><div class="row justify-content-center">

        <div id="youtube" class="facebook_box">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-lg-2">

                    <div class="facebook_img">

                        <img src="/static/img/youtube.png">

                    </div>

                </div>

                <div class="col-md-10 col-sm-10 col-lg-10">

                    <div class="facebook_word">
                        
                        <span>Youtube Converter</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <br><div class="row justify-content-center">

        <div id="youtube" class="facebook_box">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-lg-2">

                    <div class="facebook_img">

                        <img src="/static/img/music.jpg">

                    </div>

                </div>

                <div class="col-md-10 col-sm-10 col-lg-10">

                    <div class="facebook_word">
                        
                        <span>Music Studio</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
